.navbar-item-custom, .navbar-item-custom a{
    color: #fff;
}
.footer-custom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #dfeaff;
    padding: 5px;
}