{% extends 'base.html.twig' %}

{% block title %}Nous contacter - La Boutique Française{% endblock %}

{% block content %}
    <h2>Nous contacter</h2>
    <p>N'hésitez pas à nous contacter</p>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-8">
            {{ form(form) }}
        </div>
        <div class="col-md-4">
            <strong>La Boutique Française</strong>
            <hr>
            06 08 08 10 33 <br>
            9 avenue Du Maréchal de Lattre de Tassigny <br>
            33110 Le Bouscat <br>
            <hr>
            Suivez moi sur <a href="https://www.linkedin.com/in/philippe-nguyen-web-dev/">LinkedIn</a>
        </div>
    </div>
{% endblock %}
